<!doctype html>
<html data-ng-app="markers" data-ng-csp="" data-cast-api-enabled="true">
  <head>
    <meta charset="utf-8">
    <title>markers</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="css/mixins.less">
    <link rel="stylesheet/less" type="text/css" href="css/style.less">

    <link rel="stylesheet" type="text/css" href="css/leftClock.css" />

    <script src="js/less.min.js" type="text/javascript"></script>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script src="js/appGlobal.js" type="text/javascript"></script>
    <script src="js/MapDataController.js" type="text/javascript"></script>
    <script src="js/gMapController.js" type="text/javascript"></script>
    <script src="js/map.js" type="text/javascript"></script>
    <!--<script src="js/Formatter.js" type="text/javascript"></script>
    <script src="js/leftClock.js" language="javascript"></script>-->
  </head>
  <body ng-controller="MapDataController">

  <div class="wrapper">

    <!-- Top panel -->
    <div class="top-panel panel">
      <div class="panel-top clearfix">
        <span class="panel-title month">{{month}}</span>
        <div class="panel-control-btns">
          <span class="control-btn minimize">_</span>
          <span class="control-btn close">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>

      <div class="panel-body">
        <div class="triangle"></div>
        <div class="panel-top-nav-wrapper left">
          <span class="panel-top-nav nav-left" ng-click="">
            <i class="fa fa-angle-left"></i>
          </span>
        </div>
        <div class="panel-top-statistic">

          <div class="days {{'d-'+$index}}" ng-repeat="day in period">
            <span class="day">
              {{day}}
            </span>
            <div class="statistic" ng-switch="$index == 10">
              <span ng-switch-when="true" class="icon-small user-icon-small">
                <i class="fa fa-user"></i>
              </span>
              <span ng-switch-when="true" class="visit-counter">
                {{fullData.countSms}}
              </span>
              <span ng-switch-when="false" class="visit-counter">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>

        </div>
        <div class="panel-top-nav-wrapper right">
          <span class="panel-top-nav nav-right" ng-click="">
            <i class="fa fa-angle-right"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- Main panel -->
    <div class="main-panel panel clearfix">
      <div class="panel-top clearfix">
        <span class="panel-title month">Current time</span>
        <div class="panel-control-btns">
          <span class="control-btn minimize">_</span>
          <span class="control-btn close">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>

      <div class="panel-body main-top-body">
        <div class="circle" id="circle">
            <div id="wrapper">
              <div class="clock">
                <div class="clockhighlight1">
                  <div class="clockface">
                    <div class="numbers" id="numbertwelve">12</div>
                    <div class="numbers" id="numberthree">3</div>
                    <div class="numbers" id="numbersix">6</div>
                    <div class="numbers" id="numbernine">9</div>
                    <div id="hourhand"></div>
                    <div id="minhand"></div>
                    <div id="centerPoint"></div>
                   </div>
                </div>
              </div> 
            </div> 
        </div>
      </div>

      <div class="panel-bottom clearfix">
        <span class="panel-title month">Day & Night</span>
      </div>

      <div class="panel-body panel-bottom-body">
        <div class="day-night">
          <div class="daytime">day</div>
          <div class="nighttime">night</div>
        </div>
      </div>
    </div>

    <!-- bottom-panel -->
    <div class="bottom-panel play-panel panel">
      <div class="panel-top clearfix">
        <span class="panel-title">Play compaign</span>
        <div class="panel-control-btns">
          <span class="control-btn minimize">_</span>
          <span class="control-btn close">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>

      <div class="panel-body clearfix">
        <div class="play-speed">
          <span class="refresh">
            <i class="fa fa-refresh"></i>
          </span>
          <span class="speed-double">x2</span>
          <span class="speed-square">x4</span>
        </div>
        <div class="play-control-btns">
          <a href="#">
            <span class="play-btn back">
              <i class="fa fa-backward"></i>
            </span>
          </a>
          <a href="#">
            <span class="play-btn play">
              <i class="fa fa-play"></i>
            </span>
          </a>
          <a href="#">
            <span class="play-btn next">
              <i class="fa fa-forward"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="map-canvas" ng-consroller="gMapController"></div>
  </body>
</html>